.deleteButtonDiv {
  position: absolute;
}
.deleteButton {
  background-color: #484848;
  border-radius: 25px;
  float: left;
}
.mainBannerDiv {
  position: absolute;
}
.mainBanner {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  margin-right: -280%;
}

.img {
  height: 200px;
  width: 400px;
  border: 1px dashed gray;
  border-radius: 25px;
}
.mainImg {
  height: 400px;
  width: 500px;
  border: 1px dashed gray;
  border-radius: 25px;
}
.dragItem {
  padding: 1;
  cursor: "move";
}
